<h2>New high score! <%= session[:score] %> seconds</h2>
<p>Enter your name for the hall of fame:</p>
<%= form_for [@puzzle, @score] do |f| %>
	<%= f.text_field :name %>
	<%= f.submit "Save Score" %>
<% end %>
<p class="nav-links">
	<%= link_to "< Home", root_path, class: "fleft" %>
	<%= link_to "High Scores >", puzzle_scores_path(@puzzle), class: "fright" %>
</p>