
<div id="board">
	<p class="prompt popup">
		<strong><%= @puzzle.title %> (<%= @puzzle.difficulty %>)</strong>
		- Click on the image below to tag a character.
		<a href="#" class="close">&times;</a>
	</p>

	<p class="msg popup">
		<span></span>
		<a href="#" class="close">&times;</a>
	</p>

	<div class="select popup">
		<h3>Who is this? <a href="#" class="close">&times;</a></h3>
		<% @targets.each do |t| %>
			<a href="#" class="opt" data-cid=<%= t.id %>><%= t.name %></a>
		<% end %>
	</div>

	<%= image_tag(@puzzle.full_img, alt: @puzzle.title+" - "+@puzzle.difficulty) %>
</div>

<div id="targets">
	<p class="nav-links"><%= link_to "< Home", root_path %></p>
	<h2>To Find:</h2>
	<%= render @targets %>
	<p class="nav-links"><%= link_to "High Scores >", puzzle_scores_path(@puzzle) %></p>
</div>